/* Menggunakan bootstrap */

@font-face {
    src: url(../fonts/poppins.woff2);
    font-family: 'Poppins';
}

body{
    font-family: 'Poppins';
    background-image: url(../images/background/bgkopi.png);
}

nav{
    background-color: #997950;
}

nav a, .nav-link{
    text-decoration: none;
}

a.btn{
    --bs-btn-border-color: #795c32;
    background-color: #795c32;
}

section.best-seller{
    background-color: #EEE6DC;
}

section.best-seller::before,
section.best-seller::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 76px;

   /* background-image untuk menambahkan gambar sebagai background */
    background-image: url(../images/background/garis-atas.png);

   /*background-size agar gambar latar menyesuaikan tinggi / lebar elemen */
    background-size: cover;

    top: -60px;
    left: 0;

}

section.best-seller::after {
    background-image: url(../images/background/garis-bawah.png);
    top: unset;
    bottom: -60px;
}

div.col img{
    transition: all 0.3s ease;
}

div.col img:hover {

    transform: scale(0.9);
}

section.our-team {
    background-color: #EEE6DC;
    box-shadow: inset 0px 0px 23px -6px #707070;
    text-align: center;
}

.our-team-img{
    box-shadow: 0 3px 10px -2px #000;
    border-radius: 50px 0px 50px 0px;
}
footer{
    background-color: #997950;
}
